<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <header class="header-container">

        <div class="logo-container">
            FormulaGear 
        </div>
        
        <div class="img-container">
            <img id="neumatico" src="../../../imagenes/neumatico.png" alt="Neumático f1">
        </div>
        
        <nav>
           <ul class="nav-links">
                <li><a href="#">Whislist</a></li>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Perfil</a></li>
                <li><a href="../main/main.html">Inicio</a></li>
                    <div class="perfil-image">
                        <a href="../login/login.html">
                            <img id="persona-image" src="../../../Imagenes/perfil.png">
                            <p>Usuario</p>
                        </a>
                    </div>
                
           </ul>            
        </nav>
 
    </header>
</body>
</html>