@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&display=swap');
body{
    margin: 0;
}
.header-container{
    display: flex;
    justify-content: left;
    align-items: center; 
    height: 163px;
    background-color: #C60000;
    border: 3px solid black;
 }

 .logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 116px;
    padding-right: 35px;
    padding-left: 35px;
    margin-left: 20px;
    border-radius: 10px;
    font-size: 64px;
    font-family: 'Kalam';
    background-color: #1E1E1E;
    color: white;

}

.img-container{
    position: absolute;
    width: 232px;
    height: 254px;
    margin-left: 355px;
    margin-bottom: 35px;

}

#neumatico{
    width: 220px;
    height: 295px;  
    
}

#persona-image{
    width: 100px;
    height: 100px;  
    border-radius: 100px;
}

.perfil-image a{
    margin-left: 150px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    font-family: 'Kalam';
    list-style: none;
}

p {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}   

.nav-links{
     display: flex;
     flex-direction: row;
     gap: 100px;
}
 
.nav-links li {
    width: 100px;
    height: 50px;
    padding:0px 20px;
    border-radius: 10px;
    font-family: 'Kalam';
    background-color: #1E1E1E;
    list-style: none;
}
 

 .header-container .nav-links a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    font-size: 30px;
    color: white;
    text-decoration: none;    
 }

 .header-container nav{
    margin-left: auto;
 }
 /*-----------------------------------------------------------------------------------------------------------------------------------*/
 .content-container{
    margin: auto;
    margin-top: 75px;
    font-family: Kalam;
    display: flex;
    flex-direction: row;
    height: 500px;
    width: 900px;
    border: solid 3px black;
    justify-content: center;
    align-items: center;
}
.img2-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 450px;
}
.imgProduct{
    height: 300px;
    width: 300px;
    position: absolute;
}


.likes2{
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center ;
    margin-left: auto;
    margin-top: auto;
    z-index: 1;
    text-decoration: none;
    color:black
}
.likes2 p{
    font-family: 'Kalam';
    color: #d10034;
    font-size: 35px;
}
.img-like{
    width: 75px;
    height: 75px;
}
.text-container{
    font-size: 20px;
    height: 480px;
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    row-gap: 20px;
    border-left: black solid 3px;
    padding: 10px;
}
#title{
    font-size: 30px;
}
.talla{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(223, 221, 221);
    width: 150px;
    height: 100px;
    column-gap: 20px;
    font-size: 25px;
}
select{
    background-color: rgb(223, 221, 221);
    font-family: 'Kalam';
    border: none;
    font-size: 25px;
}
.precio{
    color: #0D9B7E;
    font-size: 75px;
    margin-bottom: -15px;
}
#fav{
    color:dodgerblue;
    font-size: 25px;
    height: 50px;
    width: 200px;
    border: none;
    background-color: white;
    font-family: 'Kalam';
    cursor: pointer;
}

#fav2{
    color:red;
    font-size: 25px;
    height: 50px;
    width: 200px;
    border: none;
    background-color: white;
    font-family: 'Kalam';
    cursor: pointer;
}

#botonComprar{
    width: 175px;
    height: 45px;
    background-color: #1E1E1E;
    margin: auto;
    margin-top: 35px;
}
button{
    width: 250px;
    height: 75px;
    background-color: #1E1E1E;
    color: white;
    font-size: 50px;
    font-family: 'Kalam';
    text-align: center;
} 
 /*-----------------------------------------------------------------------------------------------------------------------------------*/
 .footer {
    margin-top: 75px;
    margin-bottom: 0px;
    background-color: #C60000;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    height: 100px;
}

.rrss {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
.pfooter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttonLike{
    background-color: white;
    border: white;
}