@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&display=swap');

body {
    margin: 0;
    height: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header-container {

    display: flex;
    justify-content: left;
    align-items: center;
    height: 163px;
    width: 100%;
    background-color: #C60000;
    border: 3px solid black;
    position: fixed;
    z-index: 1;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 116px;
    padding-right: 35px;
    padding-left: 35px;
    margin-left: 20px;
    border-radius: 10px;
    font-size: 64px;
    font-family: 'Kalam';
    background-color: #1E1E1E;
    color: white;

}

.img-container {
    position: absolute;
    width: 232px;
    height: 254px;
    margin-left: 355px;
    margin-bottom: 35px;

}

#neumatico {
    width: 220px;
    height: 295px;

}

#persona-image {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}
.perfil-image{
    flex-grow: 0;
}

.perfil-image a {
    margin-left: 150px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    font-family: 'Kalam';
    list-style: none;
}

p {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.nav-links {
    display: flex;
    width: 100%;
    gap: 100px;
}
.opciones{
    display: flex;
    justify-content: left;
    flex-grow: 1;
    margin-left: 150px;
    gap: 100px;
}
.nav-links li {
    width: 100px;
    height: 50px;
    padding: 0px 20px;
    border-radius: 10px;
    font-family: 'Kalam';
    background-color: #1E1E1E;
    list-style: none;
}
#null{
    background-color: #C60000;
    border: none;
}

.header-container .nav-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    font-size: 30px;
    color: white;
    text-decoration: none;
}

.header-container nav {
    display: flex;
    width: 100%;
    

}

.footer {

    margin-top: 0;
    background-color: #C60000;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    width: 100vw;
    height: 100px;
    margin-bottom: 0;
}

.rrss {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
.pfooter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid{
    margin-top: 150px;
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4,130px);
    grid-template-rows:repeat(6,60px);
    grid-template-areas:
    "nombreProducto nombreProducto nombreProducto nombreProducto"
    "newNombreProducto newNombreProducto newNombreProducto newNombreProducto"
    "descripcionProducto descripcionProducto descripcionProducto descripcionProducto"
    "descripcionProducto descripcionProducto descripcionProducto descripcionProducto"
    "imagenProducto imagenProducto precioProducto talla"
    "añadir eliminar confirmar confirmar"
    "cargarProducto cargarProducto cargarProducto cargarProducto";
    gap: 20px;
    flex-grow: 1;
}

.gridarea{
    border: 2px solid black;
    background-color: lightgrey;
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
}
.cargarProducto{
    grid-area: cargarProducto;

}
.nombreProducto{
    grid-area: nombreProducto;
}
.newNombreProducto{
    grid-area: newNombreProducto;
}
.descripcionProducto{
    grid-area: descripcionProducto;
}
.imagenProducto{
    grid-area: imagenProducto;
}

.precioProducto{
    grid-area: precioProducto;
}
.talla{
    grid-area: talla;
}
.añadir{
    grid-area: añadir;
}
.eliminar{
    grid-area: eliminar;
}
.confirmar{
    grid-area: confirmar;
}
.select-products{
    width: 100%;
    height: 100%;
    background-color: transparent;
    text-align: center;
}
.textNewNombreProducto{
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: transparent;
    border: none;
    text-align: center;
}
.style-inputs{
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    text-align: center;
}