<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <title>Iniciar sesión</title>
</head>
<body>
    <div class="header-container">
        <div class="logo-container">
            FormulaGear   
        </div>
        <div class="img-container">
            <img id="neumatico" src="../../../imagenes/neumatico.png" alt="Neumático f1">
        </div>
        
        
    </div>

    <div class="contenido-container">
        <div class="formulario-header">
            <img src="../../../imagenes/formula_1_PNG57.png" alt="coche f1">
        </div>
        <div class="formulario-container">
            <form action="login.php" method="post">
                <input type="email" name="email" placeholder="email">
                <input type="password" name="password" placeholder="contraseña">
                <input type="submit" id="submit" value="Iniciar sesión">
            </form>
        </div>
    </div>
</body>
</html>